*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/classic-shoes-realistic-composition/
/classic-women-men-shoes-realistic-light-wood-floor-background-with-red-high-heels-pink-pumps-illustration/
/classic-shoes-realistic-composition.zip
/classic-women-men-shoes-realistic-light-wood-floor-background-with-red-high-heels-pink-pumps-illustration.zip
/Getting Started.docx
/~$tting Started.docx
